@font-face {
    font-family: "Le Havre Rounded Regular";
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Le Havre Rounded W00 Regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/Le Havre Rounded W00 Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Le Havre Rounded W00 Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Le Havre Rounded W00 Regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Le Havre Rounded W00 Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Le Havre Rounded W00 Regular.svg') format('svg'); /* Legacy iOS */
}

* {
    font-family: 'Lato', sans-serif;
}

*::selection {
    background-color: #f8c6c6;
}

.le-havre {
    font-family: 'Le Havre Rounded Regular', sans-serif !important;
    text-transform: uppercase;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.primary-button {
    align-items: center;
    background-color: #333333;
    border-radius: 9999px;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    height: 2.5rem;
    justify-content: center;
    line-height: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.primary-button:hover {
    background-color: #cccccc;
}

.primary-button:active {
    background-color: #000000;
}

.secondary-button {
    align-items: center;
    background-color: #e63b3c;
    border-radius: 9999px;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    height: 2.5rem;
    justify-content: center;
    line-height: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.secondary-button:hover {
    background-color: #f8c6c6;
}

.secondary-button:active {
    background-color: #603535;
}

.tertiary-button {
    align-items: center;
    background-color: #603535;
    border-radius: 9999px;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    height: 2.5rem;
    justify-content: center;
    line-height: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.tertiary-button:hover {
    background-color: #eb6465;
}

.tertiary-button:active {
    background-color: #e63b3c;
}